.address
	display flex
	justify-content center
	align-items center
	flex-direction column
	width 100%
	height 100%
	color white
	font-size var(--font-big)
	
	p
		margin 20px 0
	
	address
		font-style normal
