<div class="lockscreen" #lockscreen>
	<div class="lockscreen-input">
		<img src="assets/img/lock.svg" alt="lock"/>
		<input type="text" (input)="changeCode$.next($event.target.value)">
	</div>
</div>
