.lockscreen
	width 100%
	height 100%
	position absolute
	left 0
	top 0
	display flex
	justify-content center
	align-items center
	
	&-input
		display flex
		flex-direction column
		justify-content center
		align-items center
		
		img
			width 250px
			opacity 0.3
			height auto
		
		input
			border none
			padding 10px 20px
			margin-top 80px
			font-size var(--font-big)
			background rgba(white, 0.1)
			border-radius 4px
			font-family 'Source Code Pro', sans-serif
			-webkit-appearance none
			outline none
			color white
			text-align center
			
