.crypto
	width 100%
	height 100%
	display flex
	justify-content center
	align-items center
	flex-direction column
	
	.morse
		color white
		max-width 600px
		width 100%
		font-size var(--font-big)
		text-align center
	
	input
		border none
		padding 10px 20px
		margin-top 80px
		font-size var(--font-big)
		background rgba(white, 0.1)
		border-radius 4px
		font-family 'Source Code Pro', sans-serif
		-webkit-appearance none
		outline none
		color white
		text-align center
		
