<div class="crypto" #cryptoElement>
	<p class="morse" #morseEl>
		-. -.-- / -. .. .--- . / - .-. . -... .- --.. .- / -.. .- - .... .-.. .- ...- / -. .. .... . ... .-.. --- -. .- / .--. .. ... / - . / .--. .-. / ...- -. .. -.. ...- / . .--. .. / ... -- . -. .- / ... ...- . .... / --- .--- / -- . / -. .- .- -.- -.
		/ .. -- .--. --- ... / .-.. . -.. -. / .. -.. ...- . .--. / .. ... -- / . -. / .- ... ...- . / .... --- .--. .-. / .. .--- -- / . -. ..
	</p>
	<input type="text" (input)="changeCode$.next($event.target.value)">
</div>
