.questions
	width 100%
	height 100%
	position absolute
	left 0
	top 0
	display flex
	flex-direction column
	justify-content center
	align-items center
	color white
	
	.question
		display flex
		flex-direction column
		justify-content center
		align-items center
		margin-bottom 40px
		width 100%
		
		label
			font-size var(--font-medium)
			padding-bottom 10px
		
		input[type="text"]
			border none
			max-width 600px
			width 100%
			padding 10px 20px
			font-size var(--font-big)
			background rgba(white, 0.1)
			border-radius 4px
			font-family 'Source Code Pro', sans-serif
			-webkit-appearance none
			outline none
			color white
			text-align center
	
	
	button
		padding 10px 20px
		border 0
		background rgba(white, 0.5)
		color var(--color-dark)
		font-weight bold
		border-radius 4px
		cursor pointer
		width 100%
		font-size var(--font-big)
		max-width 600px
		
		&:hover
			background rgba(white, 0.6)
			

