<div class="questions" #questionsElement>

	<div class="question" *ngFor="let question of questions">
		<label>{{question.label}}</label>
		<input type="text" (input)="compareQAndA($event.target.value, question)">
	</div>
	<button (click)="submit()">Odeslat otázky</button>
</div>
