randomPercent(min, max)
	return floor(math(0, 'random') * (max - min + 1) + min) + '%'

.crazy
	width 100%
	height 100%
	top 0
	left 0
	position relative
	
	
	.crazy-button
		display flex
		flex-direction column
		align-items center
		position absolute
		color white
		font-size var(--font-medium)
		cursor pointer
		user-select none
		
		&:hover
			transform scale(1.1)
		
		img
			width 100px
			height auto
		
		for xx in 0..18
			&-{xx}
				left randomPercent(0, 90)
				top randomPercent(0, 90)
