<div class="crazy" #crazyBox>
	<ng-container *ngFor="let button of buttons; let i = index">
		<span *ngIf="i === currentIndex" class="crazy-button crazy-button-{{i+1}}" (dblclick)="openFolder(i)">
			<img src="assets/img/folder.svg" alt="folder">
			{{button}}
		</span>
	</ng-container>
</div>
