<main>
	<app-lockscreen (successfullyPassed)="lockscreenPassed()" *ngIf="stage === 'lockscreen'"></app-lockscreen>
	<app-questions (successfullyPassed)="questionsPassed()" *ngIf="stage === 'questions'"></app-questions>
	<app-crypto (successfullyPassed)="cryptoPassed()" *ngIf="stage === 'crypto'"></app-crypto>
	<app-crazy (successfullyPassed)="crazyPassed()" *ngIf="stage === 'crazy'"></app-crazy>
	<app-address *ngIf="stage === 'address'"></app-address>
</main>
