html, body
	margin 0
	font-family 'Open Sans', sans-serif
	box-sizing border-box
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-rendering optimizeLegibility


html
	height 100%
	font-size $default-font-size

body
	min-height 100%
	position absolute
	top 0
	width 100%
	max-width 100%
	font-size var(--font-normal)
	background white
	color $default
	font-family 'Source Code Pro', sans-serif
	
	main
		min-height calc(100vh - 180px)


body
	for colorName, colorValue in $colors
		add-property('--color-' + colorName, colorValue)
