/** COLORS **/
$primary = #d7b301
$primary-hover = #b78a02
$gray = #999
$default = #333
$shady = #000
$dark = #222222
$green = #22C86A

/** SIZES **/
$default-font-size = 10px
$frame-width = 1140px


$colors = {
	primary: #d7b301,
	primary-hover: #b78a02,
	dark: #222
};
